/target

# EDITOR
.vscode
.idea

# AGENTS
.agents/

# LOGS
logs/*

# Extra folder
extra/*

config.toml
local.config.toml
.env

# VitePress Docs
docs/node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/

